
/* ------------------------------ */
/* CONSTANTS
/* ------------------------------ */

@orange: #ba5317;
@lightOrange: #f2e6d6;
@dark: #582d15;
@grey: #777777;
@light: #555;
@text: #333;
@opensans: 'Open Sans Condensed', sans-serif;

.font-size(@sizeValue) {
  @remValue: @sizeValue;
  @pxValue: (@sizeValue * 10);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}

@media screen and (max-width: 1140px) {
	
	/* MAIN LAYOUT/ELEMENTS
	/* ------------------------------ */

	.width{ padding-left:30px; padding-right:30px}
	
	#header{
		#social, #ph, #slider .caption{ right:30px}
	}
	
	#footer { 
		.grid.third{ width:33.333%}
		.cyberstart, .copy{ position:relative; right:0} 
		.cyberstart{ margin:20px 0}
	}
	
	
	/* PAGE ELEMENTS
	/* ------------------------------ */
	
	/* FLEXSLIDERS */
	#slider{
		li{ height:400px; background-size:auto 100%;}
		.caption{ bottom:30px}
	}
	
}


@media only screen and (min-width: 1024px) and (max-width: 1024px) {

	/* NAVIGATION
	/* ------------------------------ */

	.main-navigation {
		li.menu-item-has-children{ padding-right:40px}
		.collapser{ display:block; color:#fff; padding-right:20px}
		ul ul .collapser{ padding:15px 20px 15px 10px}
	}

}


@media screen and (max-width: 950px) {

	/* MAIN LAYOUT/ELEMENTS
	/* ------------------------------ */
	
	.content-area{ float: none; margin: 0;}
	.site-main{ 
		margin: 0;
		.page{ padding-right:0}
	}
	.site-content .widget-area{ float: none; width: auto; margin-top:50px}
	
	
	/* PAGE ELEMENTS
	/* ------------------------------ */
	
	/* QUOTE FORM */
	#text-3 h3{ background-size:100% auto}
	
	/* HOME */
	.home .the-content h2:last-of-type{ margin-top:1.5em; }
	.home .the-content h2:last-of-type:after{ display:none}

}


@media screen and (max-width: 800px) {
	
	/* MAIN LAYOUT/ELEMENTS
	/* ------------------------------ */
	
	#page{ position:relative} /* DO NOT REMOVE - JS MEDIA QUERY */
	
	.grid.third{ width:auto; float:none; margin-bottom:20px}
	.grid.quarter{ width:50%}
	
	#header{
		#ph{ .font-size(3) }
	}
	
	#header-image{ height:200px; background-size:auto 100%}
	
	#footer .grid.third{ width:auto}

	
	/* NAVIGATION
	/* ------------------------------ */

	.main-navigation {
		line-height:1.5;
		.width{ padding:0}
		.menu-toggle{ display:block; line-height:2}
		ul{ padding-bottom:0; background:@lightOrange; border-bottom:4px solid @orange}
		li{ float: none; border-bottom:1px solid @orange  }
		li:last-of-type{ border-bottom:none}
		ul a{ padding:0 30px; color:@orange }
		ul#menu-main-menu > li:first-child a{ padding-left:30px}
		ul ul{ float: none; position: relative; left:0; z-index: 99999; padding:0; display:none; background:@lightOrange; border-top:1px solid @orange; line-height:2; border-bottom:none  }
		ul ul ul{ left:0; }
		ul ul a{ width: auto; padding:0 30px 0 40px}
		ul ul li:last-of-type a{ padding-bottom:0}
		ul ul ul a{ padding-left:50px}
		ul li:hover > ul{ left:0;}
		ul ul li:hover > ul{ left:0;}
		.collapser{ display:block;}
	}
	.main-navigation.open .menu {display: block; }
	.main-navigation .menu { display: none; }
	
	
	/* PAGE ELEMENTS
	/* ------------------------------ */
	
	/* FLEXSLIDERS */
	#slider{
		li{ height:250px}
		.caption{ .font-size(3); padding:20px 30px}
	}
	
	/* FEEDBACK SECTION */
	#feedback{
		.feedback-image{ width:25%; }
		blockquote{ width:70%}
	}
	
	/* HOME */
	.extra-block{
		.with-content.with-image .content,
		.with-content.with-image .image{ float:none; width:auto}
		.with-content.with-image .image{ margin-top:40px}
	}

	/* CONTACT */
	.page-id-84{
		.the-content{ 
			float:none; width:auto; height:auto; background:none;
			.inner{ padding:0}
		}
	}
	.acf-map{ float:none; width:auto; }
	
}


@media screen and (max-width: 480px) {
	
	/* MAIN LAYOUT/ELEMENTS
	/* ------------------------------ */
	
	.width{ padding-left:15px; padding-right:15px }
	
	#header{ 
		padding-top:20px; padding-bottom:20px;
		.site-title img{ max-width:290px}
		#social{ 
			position:relative; top:0; right:0; margin-top:15px; 
			a{ float:none; margin-left:10px}
		}
		#ph{ position:relative; right:0; bottom:0; }
	}
	
	
	/* ELEMENTS/TYPOGRAPHY
	/* ------------------------------ */
	
	h1{ .font-size(4);}
	h2, #footer h3{ .font-size(2.8);}
	h3, blockquote{ .font-size(2);}
	h4{ .font-size(1.7)}
	h5{ .font-size(1.6)}
	
	a.btn,
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] { .font-size(2);padding:8px 20px;}
	
	
	/* PAGE ELEMENTS
	/* ------------------------------ */
	
	/* QUOTE FORM */
	#text-3{
		form{  padding:20px}
		h3{ .font-size(3.2); padding-top:30px; height:auto }
	}
	
}


@media screen and (max-width: 320px) {

	/* FEEDBACK SECTION */
	#feedback{
		.feedback-image, blockquote{ width:auto; float:none }
		.feedback-image{ margin-bottom:20px}
	}

}



/* ------------------------------ */
/* RETINA
/* ------------------------------ */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

#header #social a:before,
#footer .cyberstart, 
.home .the-content h2:last-of-type:after
{ background-image:url(images/icons@2x.png); background-size:137px 132px}
#text-3{ background-image: url(images/bg_watermark@2x.png); background-size:537px 218px} 


}